#creation-pin * {
  box-sizing: border-box;
}

#creation-pin {
  min-height: 100vh;
  min-width: 320px;
  display: block;
  z-index: 1000;
}

#creation-pin .creation-pin-layout {
  display: block;
}

#creation-pin .creation-pin-wrapper {
  padding-top: 74px;
  padding-left: 65px;
  display: block;
}

#creation-pin .creation-pin-container {
  display: block;
}

#creation-pin .pin-title {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: space-between;
  width: 100%;
  height: 66px;
  border-top: 1px solid #d1d1c7;
  border-bottom: 1px solid #d1d1c7;
  padding-left: 15px;
  z-index: 1002;
}
#creation-pin .pin-title > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#creation-pin .pin-title > .flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}

#creation-pin .pin-title .title {
  text-align: left;
  color: #000;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  font-family: inherit;
  font-size: 18px;
  font-weight: 450;
  letter-spacing: 0;
  line-height: 1.3;
  text-decoration: none;
  display: block;
}

#creation-pin .pin-content-container-layout {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#creation-pin .pin-content-container-layout > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#creation-pin .pin-content-container-layout > .flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}

#creation-pin .pin-content-container-wrapper {
  margin: 0 -24px;
  padding: 28px 0;
  display: block;
}

#creation-pin .pin-content-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: flex-start;
}
#creation-pin .pin-content-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#creation-pin .pin-content-container > .flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}

#creation-pin .pin-upload-wrapper {
  display: block;
}

#creation-pin .pin-upload {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 32px;
}
#creation-pin .pin-upload > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#creation-pin .pin-upload > .flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}

#creation-pin .pin-upload-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  width: 340px;
  height: 425px;
  background-color: #e0e0d9;
  border: 2px dashed rgb(218, 218, 218);
  border-radius: 32px;
  position: relative;
  flex: 1 1 auto;
}
#creation-pin .pin-upload-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#creation-pin .pin-upload-container > .flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}

#creation-pin .pin-upload-icon {
  padding: 8px 0;
  display: block;
}

#creation-pin .pin-upload-icon .icon {
  width: 32px;
  height: 32px;
  color: #000000;
  fill: currentColor;
  stroke-width: 0;
  vertical-align: middle;
  display: block;
}

#creation-pin .pin-upload-caption {
  max-width: 220px;
  padding: 8px 0;
  display: block;
}

#creation-pin .pin-upload-caption .caption {
  text-align: center;
  color: #000;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  font-family: inherit;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
  text-decoration: none;
  display: block;
}

#creation-pin .pin-upload-explanation {
  bottom: 0;
  position: absolute;
  padding: 32px 24px;
  display: block;
}

#creation-pin .pin-upload-explanation .explan {
  text-align: center;
  color: #000;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  font-family: inherit;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
  text-decoration: none;
  display: block;
}

#creation-pin .pin-upload-container .file-upload {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 0;
  opacity: 0;
  position: absolute;
  z-index: 1001;
}

#creation-pin .pin-upload .-border {
  width: 100%;
  margin: 12px 0 12px 0;
  border-top: 1px solid #c2c2b6;
  display: block;
}

#creation-pin .pin-upload .url-save {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  width: 100%;
  min-height: 32px;
  cursor: pointer;
  padding: 6px 12px;
  background-color: #e0e0d9;
  border-radius: 12px;
  text-wrap: balance;
  border-color: transparent;
  box-sizing: border-box;
  transition: transform 85ms ease-out;
}
#creation-pin .pin-upload .url-save > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#creation-pin .pin-upload .url-save > .flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}

#creation-pin .pin-upload .url-save .caption {
  text-align: center;
  color: #000;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.3;
  text-decoration: none;
  display: block;
}

#creation-pin .pin-label-layout {
  display: block;
}

#creation-pin .pin-label-wrapper {
  width: 584px;
  height: 100%;
  box-sizing: border-box;
  margin: 24px;
  padding: 4px;
  position: relative;
  display: block;
}

#creation-pin .pin-label-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}
#creation-pin .pin-label-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#creation-pin .pin-label-container > .flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}

#creation-pin .pin-label-title {
  width: 100%;
  display: block;
}

#creation-pin .pin-label {
  cursor: text;
  z-index: 1001;
}

#creation-pin .pin-label .title {
  text-align: left;
  color: #000;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.4;
  text-decoration: none;
  display: block;
}

#creation-pin .pin-label .input {
  max-width: 100%;
  text-align: left;
  color: #000;
  -webkit-box-orient: vertical;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
  overflow: hidden;
  margin: 0;
  display: block;
}

/*# sourceMappingURL=pin.css.map */
