<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyk.pixterest.mappers.MyPageMapper">
    <update id="boardUpdate">
        UPDATE `pixterest`.`boards`
        SET `id`          = #{board.id},
            `user_email`  = #{board.userEmail},
            `name`        = #{board.name},
            `cover_image` = #{board.coverImage},
            `created_at`  = #{board.createdAt},
            `modified_at` = #{board.modifiedAt},
            `is_deleted`  = #{board.isDeleted}
        WHERE `id` = #{board.id}
    </update>
    <update id="pinUpdate">
        UPDATE `pixterest`.`pins`
        SET
            `id`          = #{pin.id},
            `user_email`  = #{pin.userEmail},
            `board_id`    = #{pin.boardId},
            `title`       = #{pin.title},
            `content`     = #{pin.content},
            `link`        = #{pin.link},
            `tag`         = #{pin.tag},
            `image`       = #{pin.image},
            `created_at`  = #{pin.createdAt},
            `modified_at` = #{pin.modifiedAt},
            `is_deleted`  = #{pin.isDeleted}
        WHERE `id` = #{pin.id}
    </update>
    <select id="selectBoardtykEmail" resultType="com.tyk.pixterest.entities.BoardEntity">
        SELECT `id`          AS `id`,
               `user_email`  AS `userEmail`,
               `name`        AS `name`,
               `cover_image` AS `coverImage`,
               `created_at`  AS `createdAt`,
               `modified_at` AS `modifiedAt`,
               `is_deleted`  AS `isDeleted`
        FROM pixterest.boards b
        WHERE `user_email` = #{email}
          AND `is_deleted` = false;
    </select>
    <select id="selectPintykEmail" resultType="com.tyk.pixterest.entities.PinEntity">
        SELECT `id`          AS `id`,
               `user_email`  AS `userEmail`,
               `board_id`    AS `boardId`,
               `title`       AS `title`,
               `content`     AS `content`,
               `link`        AS `link`,
               `tag`         AS `tag`,
               `image`       AS `image`,
               `created_at`  AS `createdAt`,
               `modified_at` AS `modifiedAt`,
               `is_deleted`  AS `isDeleted`
        FROM `pixterest`.`pins`
        WHERE `user_email` = #{email}
          AND board_id IS NULL
          AND is_deleted = false
    </select>
    <select id="selectSavedPintykEmail" resultType="com.tyk.pixterest.entities.PinEntity">
        SELECT p.`id`          AS `id`,
               p.`user_email`  AS `userEmail`,
               p.`board_id`    AS `boardId`,
               p.`title`       AS `title`,
               p.`content`     AS `content`,
               p.`link`        AS `link`,
               p.`tag`         AS `tag`,
               p.`image`       AS `image`,
               p.`created_at`  AS `createdAt`,
               p.`modified_at` AS `modifiedAt`,
               p.`is_deleted`  AS `isDeleted`
        FROM `pixterest`.`pins` p
                 INNER JOIN `pixterest`.`pin_user_saves` s
                            ON p.id = s.pin_id
        WHERE s.user_email = #{email}
          AND p.is_deleted = false
    </select>
    <select id="selectPintykBoardId" resultType="com.tyk.pixterest.entities.PinEntity">
        SELECT `id`          AS `id`,
               `user_email`  AS `userEmail`,
               `board_id`    AS `boardId`,
               `title`       AS `title`,
               `content`     AS `content`,
               `link`        AS `link`,
               `tag`         AS `tag`,
               `image`       AS `image`,
               `created_at`  AS `createdAt`,
               `modified_at` AS `modifiedAt`,
               `is_deleted`  AS `isDeleted`
        FROM `pixterest`.`pins`
        WHERE `board_id` = #{boardId}
    </select>
    <select id="selectBoardByBoardId" resultType="com.tyk.pixterest.entities.BoardEntity">
        SELECT `id`          AS `id`,
               `user_email`  AS `userEmail`,
               `name`        AS `name`,
               `cover_image` AS `coverImage`,
               `created_at`  AS `createdAt`,
               `modified_at` AS `modifiedAt`,
               `is_deleted`  AS `isDeleted`
        FROM `pixterest`.`boards`
        WHERE `id` = #{boardId}
    </select>
    <select id="selectPinByPinId" resultType="com.tyk.pixterest.entities.PinEntity">
        SELECT `id`          AS `id`,
               `user_email`  AS `userEmail`,
               `board_id`    AS `boardId`,
               `title`       AS `title`,
               `content`     AS `content`,
               `link`        AS `link`,
               `tag`         AS `tag`,
               `image`       AS `image`,
               `created_at`  AS `createdAt`,
               `modified_at` AS `modifiedAt`,
               `is_deleted`  AS `isDeleted`
        FROM `pixterest`.`pins`
        WHERE `id` = #{pinId}
          AND is_deleted = false
    </select>
</mapper>