<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>보드 상세</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/common.min.css">
    <link rel="stylesheet" href="/board/assets/styles/boardView.min.css">
    <script defer src="/assets/scripts/components/toast.js"></script>
    <script defer src="/assets/scripts/components/board.js"></script>
    <script defer src="/assets/scripts/components/header.js" type="text/javascript"></script>
    <script defer src="/board/assets/scripts/boardView.js"></script>
</head>
<body>
<th:block th:replace="~{fragments/header :: header}"></th:block>
<!-- 보드 정보 -->
<section class="board-detail" th:attr="data-board-id=${board.id}">
    <h1 class="board-name" th:text="${board.name}">보드 이름</h1>
    <span class="-flex-stretch"></span>
    <div class="pinDetail-backButton-wrapper">
        <div class="pinDetail-backButton">
            <button aria-label="뒤로가기" class="backButton" tabindex="0" type="button">
                <svg aria-hidden="true" class="icon" role="img" viewBox="0 0 24 24">
                    <path d="m4.41 13 6.3 6.3-1.42 1.4L.6 12l8.7-8.7 1.42 1.4L4.4 11H24v2z"></path>
                </svg>
            </button>
        </div>
    </div>
</section>

<!-- 핀 목록 -->
<div class="pins">
    <div class="pin" th:each="pin : ${pins}" th:attr="data-pin-id=${pin.id}">
        <img alt="img" class="image" th:src="@{/images/{file}(file=${pin.image})}">
        <button class="obj-button pin-button" type="button" title="수정" th:attr="data-pin-id=${pin.id}">
            <img alt="" class="icon" src="/user/assets/images/edit-button.png">
        </button>
    </div>
</div>
<th:block th:replace="~{fragments/toast :: toast}"></th:block>
<th:block th:replace="~{fragments/toast :: toastAlert}"></th:block>
<th:block th:replace="~{fragments/board :: board}"></th:block>
<th:block th:replace="~{fragments/editPin :: editPin}"></th:block>
</body>
</html>
