@charset "UTF-8";

@import "../../../assets/styles/_def";

body {
  margin: 0;
  padding-top: 70px; // 헤더 높이 고려
  background-color: #ffffff; // 배경 흰색으로 변경

  > .board-detail {
    @include flex(row, flex-start, flex-start);
    padding: 2rem 2rem 1rem 120px; // 사이드바 고려해서 왼쪽 패딩 반으로 줄임

    > .board-name {
      font-size: 2rem;
      font-weight: bold;
    }

    > .board-description {
      color: #57574c;
      margin: 0.5rem 0 1rem;
    }

    > .board-meta {
      font-size: 0.9rem;
      color: #999;
    }

    > .back-button {
      margin-top: 2.5rem; // 공간 많이 띄움
      background: none;
      border: none;
      color: #000000;
      cursor: pointer;
      font-size: 0.9rem;
      transition: color 0.2s ease;

      &:hover {
        text-decoration: underline;
        color: #004999;
      }
    }
  }

  > .pins {
    @include flex(row, flex-start, flex-start, 0.5rem);
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding-left: 5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;


    > .pin {
      @include flex(row, flex-start, flex-start, 0.5rem);
      width: 12rem;
      height: 16rem;
      border-radius: 1rem;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      z-index: 3;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 1;
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      &:hover::before {
        opacity: 1;
      }

      > .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }

      > .pin-button {
        @include flex(row, flex-end, flex-end);
        position: absolute;
        bottom: 0.75rem;
        left: 99%;
        transform: translateX(-100%);
        background-color: #f0f0eb;
        border-radius: 1rem;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;

        > .icon {
          width: 1rem;
          height: 1rem;
          fill: #000000;
        }
      }

      &:hover > .pin-button {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  .board-detail {
    > .pinDetail-backButton-wrapper {

      .pinDetail-backButton {
        top: 82px;
        margin-left: 12px;
        position: sticky;
        display: block;

        .backButton {
          @include flex(row, center, center);
          width: 62px;
          height: 62px;
          background-color: #ffffff;
          border-radius: 20px;
          cursor: pointer;
          perspective: 1px;
          transition: transform 85ms ease-out;

          &:hover {
            background-color: #f0f0f0;
          }

          &:active {
            background-color: #e0e0e0;
            transform: scale(0.934426 );
          }

          .icon {
            width: 22px;
            height: 22px;
            color: #000000;
            fill: currentColor;
            stroke-width: 0;
            vertical-align: middle;
            overflow-clip-margin: content-box;
            overflow: hidden;
            display: block;
          }
        }
      }
    }
  }

}
