<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header id="editPin" th:fragment="editPin" class="" data-pin-id="">
    <div class="editPin-overlay"></div>
    <div class="editPin-info">
        <div class="editPin-info-content">
            <div class="editPin-header">
                <div class="editPin-title">
                    <h2 class="title">핀 수정</h2>
                </div>
                <button class="editPin-button" role="menuitem" tabindex="0"
                        type="button">
                    <span class="cancel">x</span>
                </button>
            </div>
            <div class="editPin-main">
                <div class="editPin-label-container">
                    <div class="editPin-label-layout">
                        <div class="editPin-label-wrapper">
                            <div class="title">제목</div>
                            <label class="obj-label editPin-label title">
                                <input aria-invalid="false" class="obj-field input" name="title" spellcheck="false"
                                       placeholder="제목 추가" type="text">
                                <div class="-warning -row">
                                    <div class="warning-icon">
                                        <svg class="icon" role="img" viewBox="0 0 16 16">
                                            <path d="M9.71 2.86a2 2 0 0 0-3.42 0L.82 11.97A2 2 0 0 0 2.53 15h10.94a2 2 0 0 0 1.71-3.03zM6.03 6.97 8 8.94l1.97-1.97 1.06 1.06L9.06 10l1.97 1.97-1.06 1.06L8 11.06l-1.97 1.97-1.06-1.06L6.94 10 4.97 8.03z"></path>
                                        </svg>
                                    </div>
                                    <span class="caption">제목이 너무 깁니다. 초반 100자까지만 표시됩니다.</span>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="editPin-label-layout">
                        <div class="editPin-label-wrapper">
                            <div class="title">설명</div>
                            <label class="obj-label editPin-label content">
                                <textarea aria-invalid="false" class="obj-field textarea"
                                        name="content" placeholder="자세한 설명을 추가하세요."
                                        spellcheck="false" rows="4"></textarea>
                                <div class="-warning -row">
                                    <div class="warning-icon">
                                        <svg class="icon" role="img" viewBox="0 0 16 16">
                                            <path d="M9.71 2.86a2 2 0 0 0-3.42 0L.82 11.97A2 2 0 0 0 2.53 15h10.94a2 2 0 0 0 1.71-3.03zM6.03 6.97 8 8.94l1.97-1.97 1.06 1.06L9.06 10l1.97 1.97-1.06 1.06L8 11.06l-1.97 1.97-1.06-1.06L6.94 10 4.97 8.03z"></path>
                                        </svg>
                                    </div>
                                    <span class="caption">설명이 너무 깁니다. 처음 800자까지만 표시됩니다.</span>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="editPin-label-layout">
                        <div class="editPin-label-wrapper">
                            <div class="title">링크</div>
                            <label class="obj-label editPin-label link">
                                <input aria-invalid="false" class="obj-field input" name="link" spellcheck="false"
                                       placeholder="링크 추가" type="text">
                                <div class="-warning -row">
                                    <div class="warning-icon">
                                        <svg class="icon" role="img" viewBox="0 0 16 16">
                                            <path d="M9.71 2.86a2 2 0 0 0-3.42 0L.82 11.97A2 2 0 0 0 2.53 15h10.94a2 2 0 0 0 1.71-3.03zM6.03 6.97 8 8.94l1.97-1.97 1.06 1.06L9.06 10l1.97 1.97-1.06 1.06L8 11.06l-1.97 1.97-1.06-1.06L6.94 10 4.97 8.03z"></path>
                                        </svg>
                                    </div>
                                    <span class="caption">죄송합니다. 올바르지 않은 URL입니다—다시 시도하세요.</span>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="editPin-label-layout">
                        <div class="editPin-label-wrapper">
                            <div class="title">보드</div>
                            <label class="obj-label editPin-label board">
                                <button class="editPin-label-board-button" role="menuitem" tabindex="0"
                                        type="button">
                                    <img alt class="thumbnailImg" loading="auto" src="">
                                    <div class="name" title="test">보드 선택</div>
                                </button>
                                <div class="pin-label-icon">
                                    <svg aria-label="드롭다운 열기" class="icon" role="img"
                                         viewBox="0 0 24 24">
                                        <path d="M23.7 8.7 12 20.42.3 8.71l1.4-1.42L12 17.6 22.3 7.3z"></path>
                                    </svg>
                                </div>
                            </label>
                        </div>
                        <div id="boardFlyout-edit" class="" tabindex="0" aria-hidden="true" role="menu">
                            <div class="boardFlyout">
                                <div class="boardFlyout-container">
                                    <div class="boardFlyout-title">
                                        <span class="title">모든 보드</span>
                                    </div>
                                    <div class="boardFlyout-content">
                                        <div class="item">
                                            <div class="board-info" data-board-id="1"
                                                 data-board-url="https://cloudfront-ap-northeast-1.images.arcpublishing.com/chosun/DKQBBSNYHFB57EHECOEC4GVGBQ.png">
                                                <div class="board-thumbnail">
                                                    <div class="thumbnail">
                                                        <img alt class="thumbnailImg" loading="auto"
                                                             src="https://cloudfront-ap-northeast-1.images.arcpublishing.com/chosun/DKQBBSNYHFB57EHECOEC4GVGBQ.png">
                                                    </div>
                                                </div>
                                                <div class="board-name">
                                                    <div class="name" title="test">test</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="editPin-label-layout">
                        <div class="editPin-label-wrapper">
                            <div class="title">태그</div>
                            <label class="obj-label editPin-label tag">
                                <input aria-invalid="false" class="obj-field input" name="tag" spellcheck="false"
                                       placeholder="태그 추가" type="text">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="editPin-button-container">
                    <button aria-label="숨기기" class="button delete" tabindex="0" type="button">
                        <div class="caption">숨기기</div>
                    </button>
                    <button aria-label="저장" class="button write" tabindex="0" type="button">
                        <div class="caption">저장</div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>
