<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>홈 - PT</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/common.min.css">
    <link rel="stylesheet" type="text/css" href="/home/assets/styles/index.min.css">
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="/assets/scripts/common.js" type="text/javascript"></script>
    <script defer src="/assets/scripts/components/header.js" type="text/javascript"></script>
    <script defer src="/assets/scripts/components/toast.js" type="text/javascript"></script>
    <script defer src="/assets/scripts/components/board.js" type="text/javascript"></script>
    <script type="module" src="/home/assets/scripts/index.js"></script>
</head>
<body>
<div id="home">
    <th:block th:replace="~{/fragments/header :: header}"></th:block>
    <div class="home-layout">
        <div class="home-wrapper">
            <div class="home-container">
                <div class="grid-wrapper">
                    <div class="grid">
                        <div class="grid-sizer"></div>
                        <th:block th:each="pin : ${pins}">
                            <div class="grid-item">
                                <div class="img-wrapper">
                                    <img th:src="@{'/images/' + ${pin.image}}" alt="핀 이미지" loading="lazy"/>
                                    <div class="overlay">
                                        <button class="save-button">저장</button>
                                        <button class="extra-button">
                                            <svg class="icon" role="img" viewbox="0 0 16 16">
                                                <path d="M2 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4m6 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m6 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{/fragments/toast :: toast}"></th:block>
<th:block th:replace="~{/fragments/toast :: toastAlert}"></th:block>
<th:block th:replace="~{/fragments/board :: board}"></th:block>
</body>
</html>